@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
<!-- Wrapper Site -->
<div id="main-content">

    <!-- Preload -->
    <div id="preload">
        <div class="kd-bounce">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preload -->
    <!-- Mobile Menu -->
    <div class="mobile">
        <div class="container">
            <!-- Mobile -->
            <div class="menu-mobile">
                <span class="item item-1"></span>
                <span class="item item-2"></span>
                <span class="item item-3"></span>
            </div>
            <!-- End Mobile -->
            <!-- Logo -->
            <div class="logo">
                <a href="/">
                    <img src="theme/images/logo-mobile.png" alt="Logo">
                </a>
            </div>
            <!-- End Logo -->
        </div>
    </div>
    <div class="hide-menu"></div>
    <!-- End Mobile Menu -->

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header affix">
                    <div class="table">
                        <div class="table-cell">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/">
                                    <img src="theme/images/logo-light.png" alt="Logo" class="logo-light">
                                    <img src="theme/images/logo.png" alt="Logo">
                                </a>
                            </div>
                            <!-- End Logo -->
                            <!-- Socials -->
                            <div class="socials">
                                <a href="https://github.com/topics/burma-project-ideas"
                                   title="Burma Project Ideas" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="https://www.facebook.com/groups/836454391557279"
                                   title="Myanmar Software Engineers" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </div>
                            <!-- End Socials -->

                            <div class="box-search">
                                <form role="search" method="get" action="#">
                                    <input type="text" placeholder="Search ..." name="s" />
                                </form>
                            </div>

                            <div class="copyright">
                                <p>
                                    Tancho 2018-@(DateTime.Now.Year). Design by
                                    <a href="https://template.kendytheme.net/tancho/index.html" target="_blank">
                                        Kendy
                                    </a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            @Body
        </div>
    </div>
</div>
<!-- End Wrapper Site -->
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("enableLoading", true);
            await Task.Delay(1200);
            await JsRuntime.InvokeVoidAsync("gridLayout");
            await JsRuntime.InvokeVoidAsync("loadJs", "theme/js/scripts.js");
            await JsRuntime.InvokeVoidAsync("enableLoading", false);
        }
    }
}