@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Home</PageTitle>

<div class="col-md-9 col-md-offset-3">
    <div class="posts">
        <div class="posts-inner">
            <article class="post">
                <div class="post-header">
                    <h2 class="title">
                        <a href="single.html">Creativity is more than a song and dance act</a>
                    </h2>

                    <!-- Post Details -->
                    <div class="post-details">
                        <div class="post-cat">
                            <a href="#">Travel</a>
                        </div>
                        <a href="#" class="post-date"><span>Aug 06, 2018</span></a>
                        <div class="post-details-child">
                            <a href="#" class="post-views">15 views</a>
                            <a href="#" class="post-comments">03 Comments</a>
                            <div class="post-share-icon">
                                <span>SHARE</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i><span>Google Plus</span></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i><span>Behance</span></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Details -->
                </div>
                <div class="post-media">
                    <a href="single.html">
                        <img src="theme/images/posts/1.jpg" alt="Post">
                    </a>
                </div>
                <div class="post-content">

                    <!-- The Content -->
                    <div class="the-excerpt">
                        <p>
                            Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
                            Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris ...
                        </p>
                    </div>
                    <!-- End The Content -->
                </div>

                <div class="read-more">
                    <a href="single.html">Continue Reading ...</a>
                </div>


            </article>

            <article class="post">
                <div class="post-header">
                    <h2 class="title">
                        <a href="single.html">Creativity is more than a song and dance act</a>
                    </h2>

                    <!-- Post Details -->
                    <div class="post-details">
                        <div class="post-cat">
                            <a href="#">Travel</a>
                        </div>
                        <a href="#" class="post-date"><span>Aug 06, 2018</span></a>
                        <div class="post-details-child">
                            <a href="#" class="post-views">15 views</a>
                            <a href="#" class="post-comments">03 Comments</a>
                            <div class="post-share-icon">
                                <span>SHARE</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i><span>Google Plus</span></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i><span>Behance</span></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Details -->
                </div>
                <div class="post-media">
                    <a href="single.html">
                        <img src="theme/images/posts/2.jpg" alt="Post">
                    </a>
                </div>
                <div class="post-content">

                    <!-- The Content -->
                    <div class="the-excerpt">
                        <p>
                            Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
                            Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris ...
                        </p>
                    </div>
                    <!-- End The Content -->
                </div>

                <div class="read-more">
                    <a href="single.html">Continue Reading ...</a>
                </div>


            </article>

            <article class="post">
                <div class="post-header">
                    <h2 class="title">
                        <a href="single.html">Creativity is more than a song and dance act</a>
                    </h2>

                    <!-- Post Details -->
                    <div class="post-details">
                        <div class="post-cat">
                            <a href="#">Travel</a>
                        </div>
                        <a href="#" class="post-date"><span>Aug 06, 2018</span></a>
                        <div class="post-details-child">
                            <a href="#" class="post-views">15 views</a>
                            <a href="#" class="post-comments">03 Comments</a>
                            <div class="post-share-icon">
                                <span>SHARE</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i><span>Google Plus</span></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i><span>Behance</span></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Details -->
                </div>
                <div class="post-media">
                    <a href="single.html">
                        <img src="theme/images/posts/3.jpg" alt="Post">
                    </a>
                </div>
                <div class="post-content">

                    <!-- The Content -->
                    <div class="the-excerpt">
                        <p>
                            Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
                            Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris ...
                        </p>
                    </div>
                    <!-- End The Content -->
                </div>

                <div class="read-more">
                    <a href="single.html">Continue Reading ...</a>
                </div>


            </article>

            <article class="post">
                <div class="post-header">
                    <h2 class="title">
                        <a href="single.html">Creativity is more than a song and dance act</a>
                    </h2>

                    <!-- Post Details -->
                    <div class="post-details">
                        <div class="post-cat">
                            <a href="#">Travel</a>
                        </div>
                        <a href="#" class="post-date"><span>Aug 06, 2018</span></a>
                        <div class="post-details-child">
                            <a href="#" class="post-views">15 views</a>
                            <a href="#" class="post-comments">03 Comments</a>
                            <div class="post-share-icon">
                                <span>SHARE</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i><span>Google Plus</span></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i><span>Behance</span></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Details -->
                </div>
                <div class="post-media">
                    <a href="single.html">
                        <img src="theme/images/posts/4.jpg" alt="Post">
                    </a>
                </div>
                <div class="post-content">

                    <!-- The Content -->
                    <div class="the-excerpt">
                        <p>
                            Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
                            Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris ...
                        </p>
                    </div>
                    <!-- End The Content -->
                </div>

                <div class="read-more">
                    <a href="single.html">Continue Reading ...</a>
                </div>


            </article>

            <article class="post">
                <div class="post-header">
                    <h2 class="title">
                        <a href="single.html">Creativity is more than a song and dance act</a>
                    </h2>

                    <!-- Post Details -->
                    <div class="post-details">
                        <div class="post-cat">
                            <a href="#">Travel</a>
                        </div>
                        <a href="#" class="post-date"><span>Aug 06, 2018</span></a>
                        <div class="post-details-child">
                            <a href="#" class="post-views">15 views</a>
                            <a href="#" class="post-comments">03 Comments</a>
                            <div class="post-share-icon">
                                <span>SHARE</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i><span>Google Plus</span></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i><span>Behance</span></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Details -->
                </div>
                <div class="post-media">
                    <a href="single.html">
                        <img src="theme/images/posts/5.jpg" alt="Post">
                    </a>
                </div>
                <div class="post-content">

                    <!-- The Content -->
                    <div class="the-excerpt">
                        <p>
                            Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
                            Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris ...
                        </p>
                    </div>
                    <!-- End The Content -->
                </div>

                <div class="read-more">
                    <a href="single.html">Continue Reading ...</a>
                </div>


            </article>

            <article class="post">
                <div class="post-header">
                    <h2 class="title">
                        <a href="single.html">Creativity is more than a song and dance act</a>
                    </h2>

                    <!-- Post Details -->
                    <div class="post-details">
                        <div class="post-cat">
                            <a href="#">Travel</a>
                        </div>
                        <a href="#" class="post-date"><span>Aug 06, 2018</span></a>
                        <div class="post-details-child">
                            <a href="#" class="post-views">15 views</a>
                            <a href="#" class="post-comments">03 Comments</a>
                            <div class="post-share-icon">
                                <span>SHARE</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i><span>Google Plus</span></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i><span>Behance</span></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Details -->
                </div>
                <div class="post-media">
                    <a href="single.html">
                        <img src="theme/images/posts/6.jpg" alt="Post">
                    </a>
                </div>
                <div class="post-content">

                    <!-- The Content -->
                    <div class="the-excerpt">
                        <p>
                            Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
                            Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris ...
                        </p>
                    </div>
                    <!-- End The Content -->
                </div>

                <div class="read-more">
                    <a href="single.html">Continue Reading ...</a>
                </div>


            </article>

            <article class="post">
                <div class="post-header">
                    <h2 class="title">
                        <a href="single.html">Creativity is more than a song and dance act</a>
                    </h2>

                    <!-- Post Details -->
                    <div class="post-details">
                        <div class="post-cat">
                            <a href="#">Travel</a>
                        </div>
                        <a href="#" class="post-date"><span>Aug 06, 2018</span></a>
                        <div class="post-details-child">
                            <a href="#" class="post-views">15 views</a>
                            <a href="#" class="post-comments">03 Comments</a>
                            <div class="post-share-icon">
                                <span>SHARE</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i><span>Google Plus</span></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i><span>Behance</span></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Details -->
                </div>
                <div class="post-media">
                    <a href="single.html">
                        <img src="theme/images/posts/7.jpg" alt="Post">
                    </a>
                </div>
                <div class="post-content">

                    <!-- The Content -->
                    <div class="the-excerpt">
                        <p>
                            Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
                            Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris ...
                        </p>
                    </div>
                    <!-- End The Content -->
                </div>

                <div class="read-more">
                    <a href="single.html">Continue Reading ...</a>
                </div>


            </article>

            <article class="post">
                <div class="post-header">
                    <h2 class="title">
                        <a href="single.html">Creativity is more than a song and dance act</a>
                    </h2>

                    <!-- Post Details -->
                    <div class="post-details">
                        <div class="post-cat">
                            <a href="#">Travel</a>
                        </div>
                        <a href="#" class="post-date"><span>Aug 06, 2018</span></a>
                        <div class="post-details-child">
                            <a href="#" class="post-views">15 views</a>
                            <a href="#" class="post-comments">03 Comments</a>
                            <div class="post-share-icon">
                                <span>SHARE</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i><span>Google Plus</span></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i><span>Behance</span></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Details -->
                </div>
                <div class="post-media">
                    <a href="single.html">
                        <img src="theme/images/posts/8.jpg" alt="Post">
                    </a>
                </div>
                <div class="post-content">

                    <!-- The Content -->
                    <div class="the-excerpt">
                        <p>
                            Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
                            Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris ...
                        </p>
                    </div>
                    <!-- End The Content -->
                </div>

                <div class="read-more">
                    <a href="single.html">Continue Reading ...</a>
                </div>


            </article>

            <article class="post">
                <div class="post-header">
                    <h2 class="title">
                        <a href="single.html">Creativity is more than a song and dance act</a>
                    </h2>

                    <!-- Post Details -->
                    <div class="post-details">
                        <div class="post-cat">
                            <a href="#">Travel</a>
                        </div>
                        <a href="#" class="post-date"><span>Aug 06, 2018</span></a>
                        <div class="post-details-child">
                            <a href="#" class="post-views">15 views</a>
                            <a href="#" class="post-comments">03 Comments</a>
                            <div class="post-share-icon">
                                <span>SHARE</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i><span>Google Plus</span></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i><span>Behance</span></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Details -->
                </div>
                <div class="post-media">
                    <a href="single.html">
                        <img src="theme/images/posts/9.jpg" alt="Post">
                    </a>
                </div>
                <div class="post-content">

                    <!-- The Content -->
                    <div class="the-excerpt">
                        <p>
                            Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
                            Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris ...
                        </p>
                    </div>
                    <!-- End The Content -->
                </div>

                <div class="read-more">
                    <a href="single.html">Continue Reading ...</a>
                </div>


            </article>
        </div>

        <!-- Pagination -->
        <div class="pagination-wrap">

            <div class="older">
                <a href="#">Older Posts <i class="fa fa-angle-double-right"></i></a>
            </div>
            <div class="newer">
                <a href="#"><i class="fa fa-angle-double-left"></i> Newer Posts</a>
            </div>
        </div>
        <!-- End Pagination -->
    </div>
</div>