@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
<!-- Wrapper Site -->
<div id="main-content">

    <!-- Preload -->
    <div id="preload">
        <div class="kd-bounce">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preload -->
    <!-- Mobile Menu -->
    <div class="mobile">
        <div class="container">
            <!-- Mobile -->
            <div class="menu-mobile">
                <span class="item item-1"></span>
                <span class="item item-2"></span>
                <span class="item item-3"></span>
            </div>
            <!-- End Mobile -->
            <!-- Logo -->
            <div class="logo">
                <a href="index.html">
                    <img src="theme/images/logo-mobile.png" alt="Logo">
                </a>
            </div>
            <!-- End Logo -->
        </div>
    </div>
    <div class="hide-menu"></div>
    <!-- End Mobile Menu -->

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header affix">
                    <div class="table">
                        <div class="table-cell">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html">
                                    <img src="theme/images/logo-light.png" alt="Logo" class="logo-light">
                                    <img src="theme/images/logo.png" alt="Logo">
                                </a>
                            </div>
                            <!-- End Logo -->
                            <!-- Navigation -->
                            <div class="main-menu">
                                <nav>
                                    <ul class="menu-list">
                                        <li class="menu-item-has-children">
                                            <a href="index.html">Home</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="index.html">Standard Layout</a>
                                                </li>
                                                <li>
                                                    <a href="index-grid.html">Grid Layout</a>
                                                </li>
                                                <li>
                                                    <a href="index-grid-1st-large.html">Grid 1st Large</a>
                                                </li>
                                                <li>
                                                    <a href="index-list.html">List Layout</a>
                                                </li>
                                                <li>
                                                    <a href="index-list-1st-large.html">List 1st Large</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="about.html">About</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="single.html">Single</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="single.html">Image</a>
                                                </li>
                                                <li>
                                                    <a href="single.html">Gallery</a>
                                                </li>
                                                <li>
                                                    <a href="single.html">Slideshow</a>
                                                </li>
                                                <li>
                                                    <a href="single.html">Youtube Video</a>
                                                </li>
                                                <li>
                                                    <a href="single.html">Vimeo Video</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End Navigation -->
                            <!-- Socials -->
                            <div class="socials">
                                <a href="#" title="Behance">
                                    <i class="fa fa-behance"></i>
                                </a>
                                <a href="#" title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                                <a href="#" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#" title="Search this site">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <!-- End Socials -->

                            <div class="box-search">
                                <form role="search" method="get" action="#">
                                    <input type="text" placeholder="Search ..." name="s" />
                                </form>
                            </div>

                            <div class="copyright">
                                <p>
                                    Tancho 2018. Design by <a href="#">Kendy</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            @Body
        </div>
    </div>
</div>
<!-- End Wrapper Site -->
<!-- Footer -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="footer-inner">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="instagram">
                                <h2 class="title"><a href="#">Follow Me On Instagram</a></h2>
                                <ul>
                                    <li><a href="#"><img src="theme/images/instagram/1.jpg" alt="Image"></a></li>
                                    <li><a href="#"><img src="theme/images/instagram/2.jpg" alt="Image"></a></li>
                                    <li><a href="#"><img src="theme/images/instagram/3.jpg" alt="Image"></a></li>
                                    <li><a href="#"><img src="theme/images/instagram/4.jpg" alt="Image"></a></li>
                                    <li><a href="#"><img src="theme/images/instagram/5.jpg" alt="Image"></a></li>
                                    <li><a href="#"><img src="theme/images/instagram/6.jpg" alt="Image"></a></li>
                                    <li><a href="#"><img src="theme/images/instagram/7.jpg" alt="Image"></a></li>
                                    <li><a href="#"><img src="theme/images/instagram/8.jpg" alt="Image"></a></li>
                                    <li><a href="#"><img src="theme/images/instagram/9.jpg" alt="Image"></a></li>
                                    <li><a href="#"><img src="theme/images/instagram/10.jpg" alt="Image"></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="footer-widgets">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>About Me</span></h2>
                                    <p>
                                        I am tancho a Graphic Designer based in New York, specializing in User Interface Design and Development.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Contact Me</span></h2>
                                    <ul>
                                        <li>
                                            Tel: +123 456 789
                                        </li>
                                        <li>
                                            Email: name@domain.com
                                        </li>
                                        <li>
                                            Address: 820 Utica Ave, Brooklyn, NY
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Web Links</span></h2>
                                    <ul>

                                        <li><a href="#">Tips & tricks</a></li>
                                        <li><a href="#">Examples</a></li>
                                        <li><a href="#">Documentation</a></li>
                                        <li><a href="#">Support</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="copyright">
                                    <p>Tancho 2018. Design by <a href="#">Kendy</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("enableLoading", true);
            await Task.Delay(1200);
            await JsRuntime.InvokeVoidAsync("loadJs", "theme/js/scripts.js");
            await JsRuntime.InvokeVoidAsync("enableLoading", false);
        }
    }
}